<div class="listItem {{#if active}}listItem--active{{/if}}">
    <div class="listItem__image">
        {{> Image contSize="__47" imgSize=""}}
    </div>
    <div class="listItem__content">
        <p class="listItem__title">{{LItitle}}</p>
        <p class="listItem__text">{{LItext}}</p>
    </div>
    <div class="listItem__info">
        <p class="listItem__date">{{LIdate}}</p>
        <div class="listItem__badge{{LImodifier}}">{{LIbadge}}</div>
    </div>
</div>
