<div class="{{divClass}}">
    <label 
    for="{{inputId}}" 
    class="{{labelClass}}">
    {{label}}
    </label>
    <input 
    type="{{inputType}}" 
    id="{{inputId}}" 
    name="{{inputName}}" 
    class="{{labelClass}}" 
    placeholder="{{placeholder}}">
    <div class="{{tempClass}}">{{tempText}}</div>
</div>