<div class="{{chatContentClass}}">
    <p class="{{chatDateClass}}">{{chatDate}}</p>
    <div class="{{messageClass}}">
        <div class="{{inMsgClass}}">{{inMsg}}</div>
        <div class="{{inMsgClass}}">{{inMsg}}</div> //image
        <div class="{{outMsgClass}}">{{outMsg}}</div> 
    </div>
</div>