

<div class="{{modalClass}}">
    <div class="{{contentClass}}">
        <h2 class="{{titleClass}}">{{title}}</h2>
        {{ > Button buttonClass="" buttonText=""}}
        {{ > Button buttonClass="" buttonText=""}}
        {{#if subtitle}}
        <p class="{{subtitleClass}}">{{subtitleText}}</p>
        {{/if}}
    </div>
</div>