<div class="input">
    <input 
    type="{{inputType}}" 
    id="{{inputId}}" 
    name="{{inputName}}" 
    value="{{inputValue}}"
    class="input__element {{modifier}}" 
    placeholder="{{placeholder}}">
    <label 
    for="{{inputId}}" 
    class="input__label">
    {{label}}
    </label>
    <div class="input__text">{{inputText}}</div>
</div>


