<div class="userInput {{userInputContainerClass}}">
    <label 
    for="{{inputId}}" 
    class="userInput__label">
    {{label}}
    </label>
    <input 
    type="{{inputType}}" 
    id="{{inputId}}" 
    name="{{inputName}}" 
    value="{{inputValue}}"
    class="userInput__element" 
    placeholder="{{placeholder}}">
    
</div>