<div class="{{modalClass}}">
    <div class="{{contentClass}}">
        <h2 class="{{titleClass}}">{{title}}</h2>
        <p class="{{titleClass}}">{{title}}</p>
        {{> Button buttonClass="" buttonText=""}}
    </div>
</div>