<div class="{{errorClass}}">
    <h1 class="{{titleClass}}">{{titleText}}</h1>
    <h2 class="{{subTitleClass}}">{{subTitleText}}</h2>
    {{> Button buttonClass="" buttonText="Назад к чатам"}}
</div>