<div class="{{userProfileClass}}">
    {{> Avatar avatarSrc="" avatarAlt="" avatarSize=""}}
    <h2 class="{{userNameClass}}">{{userName}}</h2>
    <div class="{{userInfoClass}}">
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
        {{> UserData userDataClass=""
        userKeyClass="" userKey=""
        userValueClass="" userValue="" 
         }}
    </div>
    <div class="{{userProfileButtonClass}}">
        {{> Button buttonClass="" buttonText=""}}
        {{> Button buttonClass="" buttonText=""}}
        {{> Button buttonClass="" buttonText=""}}
    </div>
        {{> Button buttonClass="" buttonText=""}} //arrow button
</div>


