<div class="{{listItemClass}}">
    <div class="{{listImgClass}}">
        {{> Avatar avatarSrc="" avatarAlt="" avatarSize=""}}
    </div>
    <div class="{{listMsgClass}}">
        <p class="{{listMsgNameClass}}">{{chatName}}</p>
        <p class="{{listMsgContentClass}}">{{chatContent}}</p>
    </div>
    <div class="{{listMsgDataClass}}">
        {{chatData}}
    </div> // will update later
</div>